.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%; /* Center the main content and occupy 70% of the width */
  margin: 0 auto;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}

.todo-container,
.distraction-container {
  width: 15%;
  max-height: 80%; /* Adjusted to fit within the new main content area */
  overflow-y: auto;
}
