.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0ddd5;
}

.login-page h1 {
    font-size: 48px;
    color: #2e3546;
}
